name: Testing and validation

on: [push, pull_request]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        jdk: [ 11, 16 ]
        db: [ h2, hsqldb, mysql, postgres, "mongo,default" ]


    services:
      mysql:
        image: mysql:8.0
        env:
            MYSQL_DATABASE: testdb
            MYSQL_ROOT_PASSWORD: root
        ports:
            - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
      postgres:
        image: postgres:9.6-bullseye
        env:
          POSTGRES_DB: testdb
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd=pg_isready
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    steps:
    - name: Check-out
      uses: actions/checkout@v2
    - name: Set up JDK ${{ matrix.jdk }}
      uses: actions/setup-java@v2.1.0
      with:
        java-version: ${{ matrix.jdk }}
        distribution: 'adopt'
    - name: Dependency cache
      uses: actions/cache@v2.1.6
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
    - name: Run all tests
      run: mvn clean verify -P ${{ matrix.db }}
